
@{
    ViewData["Title"] = "AddVehicleModel";
}
<h2>AddVehicleModel</h2>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div>
    @ViewBag.Message
</div>
<form asp-route="post-vehicles" method="post" class="container">
    <label>Vehicle Make</label>
    <input class="form-control" id="vehiclemake" type="text" name="vehiclename" placeholder="" required />
    <label>Vehicle Name</label>
    <input class="form-control" type="text" name="name" placeholder="" required />
    <label>Vehicle Abrv</label>
    <input class="form-control" type="text" name="abrv" placeholder="" required />
    <button type="submit" class="btn _tt-uc btn-primary btn-lg btn-block">Add</button>
</form>


@section scripts{
    <script type="text/javascript" src="~/js/VehicleMakeDropdown.js"></script>
    <script type="text/javascript">
        window.onload = vehicleDropdown('@Url.RouteUrl("get-vehicles-by-query")');
    </script>
}
