
@{
    ViewData["Title"] = "AddVehicle";
}

<h2>AddVehicle</h2>
@ViewBag.Message
<form asp-route="post-vehicles" method="post" class="container">

    <input class="form-control" type="text" name="name" placeholder="" required />
    <input class="form-control" type="text" name="abrv" placeholder="" required />
    <button type="submit" class="btn _tt-uc btn-primary btn-lg btn-block">Add</button>
</form>

