@model Mono.MVC.Models.VehicleMakeViewModel
@{
    ViewData["Title"] = "Vehicles";
}

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<h2>Vehicles</h2>
<a class="btn theme-payment-page-signin-btn btn-primary" href="@Url.RouteUrl("add-vehicle")">Add Vehicle</a>
<hr />
<form action="" method="get">
    Filter:<input type="text" name="searchBy" />
    <input type="submit" value="Search">
</form>

@ViewBag.Message
<table style="width:100%">
    <tr>
        <th>Name<i id="name-arrow" class="fas fa-angle-down"></i></th>
        <th>Abrv<i id="abrv-arrow" class="fas fa-angle-down"></i></th>
    </tr>
    @if (Model.AllVehicleMakes != null)
    {
        @foreach (var vehicle in Model.AllVehicleMakes)
        {
            <tr>
                <td>@vehicle?.Name</td>
                <td>@vehicle?.Abrv</td>
                <td><a href="@Url.RouteUrl("edit-vehicle", new {id = vehicle.Id })">Edit</a></td>
                <td><a href="@Url.RouteUrl("delete-vehicle", new { id = vehicle.Id })">Delete</a></td>
            </tr>
        }
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"><button class="page-link" id="paging-element-previous" disabled=@(!ViewBag.Previous)>Previous</button></li>
        <li class="page-item"><button class="page-link" id="paging-element-next" disabled=@(!ViewBag.Next)>Next</button></li>
    </ul>
</nav>
@section scripts{
    <script type="text/javascript" src="~/js/Increment.js"></script>
    <script type="text/javascript">
        window.onload = setArrow();
    </script>
}